.footer {
  padding: 60px 0;
  background-color: $otherBackground;
}

.footer__container {
  @include centeredFlex();
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    @include centeredFlex($items: baseline);
    flex-direction: row;
  }
}
