.portfolio {
  @extend %list;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__card:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.portfolio .portfolio__card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.card__link {
  height: 100%;
  text-decoration: none;
  transition: filter 250ms $timingFunction;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__text {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  bottom: 0%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $whiteTextColor;
  transform: translateY(calc(100% + 1px));
  transition: transform 250ms $timingFunction;

  .card:hover & {
    transform: translateY(0%);
  }
}

.card__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(calc(100% + 1px));
  transition: transform 250ms $timingFunction;

  .card:hover & {
    transform: translateY(0%);
  }
}

.card__meta {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top-width: 0px;
}

.card__meta:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-grow: 1;
  }
}

// .portfolio__card:first-child .card__meta {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     padding: 20px 24px 56px 24px;
//   }
// }

.card__title {
  width: 100%;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primaryTextColor;
}

.card__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
}
