.footer__socials {
  margin-left: 70px;
}

.socials__appeal {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteTextColor;
}

.socials__list {
  @extend %list;
  @include centeredFlex();
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  @include centeredFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $whiteTextColor;
  transition: background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    background-color: $accentBackground;
  }
}
