html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: $primaryTextColor;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}