$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$whiteTextColor: #ffffff;
$accentTextColor: #ffffff;
$primaryBackground: #ffffff;
$secondaryBackground: #f5f4fa;
$otherBackground: #2f303a;
$accentBackground: #2196f3;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$linksAccentTextColor: #2196f3;